<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <meta name="keywords" content="대구대학교, DU, 컴퓨터정보공학부, 컴퓨터소프트웨어, 컴퓨터소프트웨어전공, SW공학, 소프트웨어공학, 컴퓨터소프트웨어 공지사항, 컴퓨터소프트웨어전공 공지사항, SW공학 공지사항, 소프트웨어공학 공지, 공지사항, 장학공지, 취업공지">
  <meta name="description" content="대구대학교 소프트웨어공학 공지사항을 조금 더 간편하게 모아보는 사이트입니다.">
  <meta name="robots" content="All">
  <meta name="author" content="한창희(ChangHui Han)">
  
  <title>DU-SW 공지 - 공지사항 더 간단하고 빠르게 알아보자</title>

  <link rel="stylesheet" href="/build/tailwind.css">
  <link rel="stylesheet" href="/css/glider.min.css">
  <link rel="stylesheet" href="/css/design.css">
</head>
<body class="h-screen">
  <div class="min-h-90v">

    <!-- Navbar -->
    <nav class="flex items-center justify-between">
      <div>
        <a href="/">
          <img class="p-4 w-40 sm:w-56" src="/assets/img/new_title.svg" alt="DU SW Notice" title="Home">
        </a>
      </div>
      <div class="mr-4">
        <button class="hidden sm:block hover:bg-gray-300 focus:outline-none focus:shadow-outline font-semibold text-2xl text-dug2" title="대구대학교 홈페이지 바로가기" onClick="location.href='https://www.daegu.ac.kr/main'"><img class="inline-block w-16 w-16" src="/assets/img/godudu.svg" alt="Search Button">대구대학교 바로가기</button>
        <button class="block sm:hidden hover:bg-gray-300 focus:outline-none focus:shadow-outline font-semibold text-2xl text-dug2" title="대구대학교 홈페이지 바로가기" onClick="location.href='https://www.daegu.ac.kr/main'">
          <img class="inline-block w-16 w-16" src="/assets/img/godudu.svg" alt="Search Button">
        </button>
      </div>    
    </nav>
  
    <!-- 학사공지 -->
    <div class="mx-2 min-h-64 glider-contain">
      <div>
        <h1 class="inline-block mt-2 ml-4 sm:mt-6 sm:mb-4 sm:ml-4 text-2xl sm:text-4xl text-gray-900 font-bold">학사공지</h1>
      </div>
      <div class="box glider1 w-screen min-w-full">
        <% notices.forEach(function(notice, index) {
            if (index < 10) { %>
        <div class="bg-white m-3 rounded-lg overflow-hidden shadow-lg">
          <div class="card">
            <div class="pl-3 pr-2 py-3 h-40 sm:h-48">
              <p class="inline-block badge">
                <% if (notice.number == '공지') { %>
                  <span class="px-4 py-1 rounded-full bg-orange-500 text-white text-sm font-semibold tracking-wider"><%= notice.number %></span>
                <% } else { %>
                  <span class="px-4 py-1 rounded-full badge-num text-white text-sm font-semibold tracking-wider"><%= notice.number %></span>
                <% } %>
                <% if (notice.current == 'New') { %>
                  <span class="px-4 py-1 rounded-full bg-yellow-400 text-white text-sm font-semibold tracking-wider"><%= notice.current %></span>
                <% } %>                 
              </p>
              <h5 class="font-bold text-xl sm:text-2xl sm:text-dutitle my-2 truncate"><%= notice.title %></h5>
              <p class="inline-block mt-10 sm:mt-16 ml-1"><%= notice.writer %> <%= notice.date %></p>
              <a href="<%= notice.link %>" class="float-right mt-6 sm:mt-14 px-6 py-2 bg-dubtn hover:bg-dug1 rounded-lg text-white text-lg font-semibold" target="_blank" title="공지 보기">바로 가기</a>
            </div>
          </div>
        </div>
        <% }
          index++;
          }) %>
        <div class="bg-white notice-card m-3 rounded-lg overflow-hidden shadow-lg h-40">
          <a class="arrow-img inline-block" href="https://sw.daegu.ac.kr/hakgwa_home/sw/sub.php?menu=page&menu_id=30" target="_blank" title="소프트웨어전공 학사공지로 이동">
            <img class="inline-block w-40 h-40" src="/assets/img/n_arrow.png" alt="Go to DU SW Notice Page">        
          </a>
        </div>
      </div>
      <button role="button" aria-label="Previous" class="glider-prev1"></button>
      <button role="button" aria-label="Next" class="glider-next1"></button>
    </div>
  
    <!-- 장학공지 -->
    <div class="notice1 mx-2 min-h-60 glider-contain multiple">
      <div>
        <h1 class="inline-block mt-2 ml-4 sm:mt-6 sm:mb-4 sm:ml-4 text-2xl sm:text-4xl text-orange-500 font-bold">장학공지</h1>
      </div>
      <div class="box glider2 w-screen min-w-full">
        <% scholars.forEach(function(scholar, index) {
              if (index < 10) { %>
        <div class="bg-white m-3 rounded-lg overflow-hidden shadow-lg">
          <div class="card">
            <div class="pl-3 pr-2 py-3 h-40 sm:h-48">
              <p class="inline-block badge">
                <% if (scholar.number == '공지') { %>
                <span class="px-4 py-1 rounded-full bg-orange-500 text-white text-sm font-semibold"><%= scholar.number %></span>
                <% } else { %>
                <span class="px-4 py-1 rounded-full badge-num text-white text-sm font-semibold"><%= scholar.number %></span>
                <% } %>
                <% if (scholar.current == 'New') { %>
                <span class="px-4 py-1 rounded-full bg-yellow-400 text-white text-sm font-semibold tracking-wider"><%= scholar.current %></span>
                <% } %>
              </p>
              <h5 class="font-bold text-xl sm:text-2xl sm:text-dutitle my-2 truncate"><%= scholar.title %></h5>
              <p class="inline-block mt-10 sm:mt-16 ml-1"><%= scholar.writer %> <%= scholar.date %></p>
              <a href="<%= scholar.link %>"
                class="float-right mt-6 sm:mt-14 px-6 py-2 bg-dubtn hover:bg-dug1 rounded-lg text-white text-lg font-semibold"
                target="_blank" title="공지 보기">바로 가기</a>
            </div>
          </div>
        </div>
        <% }
            index++;
            }) %>
        <div class="bg-white notice-card m-3 rounded-lg overflow-hidden shadow-lg h-40">
          <a class="arrow-img inline-block" href="https://sw.daegu.ac.kr/hakgwa_home/sw/sub.php?menu=page&menu_id=1022"
            target="_blank" title="소프트웨어전공 장학공지로 이동">
            <img class="inline-block w-40 h-40" src="/assets/img/s_arrow.png" alt="Go to DU SW Notice Page">
          </a>
        </div>
      </div>
      <button role="button" aria-label="Previous" class="glider-prev2"></button>
      <button role="button" aria-label="Next" class="glider-next2"></button>
    </div>
  
    <!-- 취업정보 -->
    <div class="notice1 mx-2 min-h-60 glider-contain">
      <div>
        <h1 class="inline-block mt-2 ml-4 sm:mt-6 sm:mb-4 sm:ml-4 text-2xl sm:text-4xl text-blue-500 font-bold">취업정보</h1>
      </div>
      <div class="box glider3 w-screen min-w-full">
        <% employs.forEach(function(employ, index) {
              if (index < 10) { %>
        <div class="bg-white m-3 rounded-lg overflow-hidden shadow-lg">
          <div class="card">
            <div class="pl-3 pr-2 py-3 h-40 sm:h-48">
              <p class="inline-block badge">
                <% if (employ.number == '공지') { %>
                <span class="px-4 py-1 rounded-full bg-orange-500 text-white text-sm font-semibold"><%= employ.number %></span>
                <% } else { %>
                <span class="px-4 py-1 rounded-full badge-num text-white text-sm font-semibold"><%= employ.number %></span>
                <% } %>
                <% if (employ.current == 'New') { %>
                <span class="px-4 py-1 rounded-full bg-yellow-400 text-white text-sm font-semibold tracking-wider"><%= employ.current %></span>
                <% } %>
              </p>
              <h5 class="font-bold text-xl sm:text-2xl sm:text-dutitle my-2 truncate"><%= employ.title %></h5>
              <p class="inline-block mt-10 sm:mt-16 ml-1"><%= employ.writer %> <%= employ.date %></p>
              <a href="<%= employ.link %>"
                class="float-right mt-6 sm:mt-14 px-6 py-2 bg-dubtn hover:bg-dug1 rounded-lg text-white text-lg font-semibold"
                target="_blank" title="공지 보기">바로 가기</a>
            </div>
          </div>
        </div>
        <% }
            index++;
            }) %>
        <div class="bg-white notice-card m-3 rounded-lg overflow-hidden shadow-lg h-40">
          <a class="arrow-img inline-block" href="https://sw.daegu.ac.kr/hakgwa_home/sw/sub.php?menu=page&menu_id=25"
            target="_blank" title="소프트웨어전공 취업정보로 이동">
            <img class="inline-block w-40 h-40" src="/assets/img/e_arrow.png" alt="Go to DU SW Notice Page">
          </a>
        </div>
      </div>
      <button role="button" aria-label="Previous" class="glider-prev3"></button>
      <button role="button" aria-label="Next" class="glider-next3"></button>
    </div>  
  </div>

  <!-- Footer -->
  <footer class="flex items-center justify-center w-full h-10vh min-h-10v bg-dug1">
    <div class="footer-content">
      <p class="text-white text-xs sm:text-xl">Copyright &copy; 2019. All Right Reserved By <a class="hover:text-dug3 focus:outline-none focus:shadow-outline sm:font-semibold" href="https://han-portfolio.herokuapp.com/" target="_blank">한창희</a></p>
      <p class="text-white text-xs sm:text-xl">All Data Source By <br class="block sm:hidden"><a class="hover:text-dug3 focus:outline-none focus:shadow-outline sm:font-semibold" href="https://sw.daegu.ac.kr/hakgwa_home/sw/index.php" target="_blank">대구대학교 컴퓨터정보공학부(소프트웨어전공) 홈페이지</a></p>
    </div>
  </footer>
  
  <!-- import glider.js -->
  <script src="/js/glider.min.js"></script>
  <script>
    const noticeGlider = new Glider(document.querySelector('.glider1'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      draggable: true,
      arrows: {
        prev: '.glider-prev1',
        next: '.glider-next1'
      },
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 2000,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            duration: 0.25
          }
        }
      ]
    });
    const scholarGlider = new Glider(document.querySelector('.glider2'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      draggable: true,
      arrows: {
        prev: '.glider-prev2',
        next: '.glider-next2'
      },
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 2000,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            duration: 0.25
          }
        }
      ]
    });
    const employGlider = new Glider(document.querySelector('.glider3'), {
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      draggable: true,
      arrows: {
        prev: '.glider-prev3',
        next: '.glider-next3'
      },
      responsive: [
        {
          breakpoint: 769,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            duration: 0.25
          }
        },
        {
          breakpoint: 2000,
          settings: {
            slidesToShow: 5,
            slidesToScroll: 1,
            duration: 0.25
          }
        }
      ]
    });

  </script>
</body>
</html>